.App {
  /* position: relative; */
  background-color:burlywood;
  width: 1920px;
  height: 945px;
}  

.LeftPanel {
  float: left;
  /* position: absolute; */
  background-color:coral;
  width: 120px;
  height: 945px;
}

#itemButton {
  padding: 5px;
  margin: 7px;
  width: 60px;
}

.Record {
  border: 2px solid coral;
  border-collapse: collapse;
}

table,th,td {
  margin:30px;
  padding: 5px;
  border-collapse: collapse;
  border: 3px solid coral;
}

#add,#submit,#reset {
  margin-top: 10px;
  margin-left: 60px;
} 


.PersonPanel {
  position: absolute;
  background-color:blanchedalmond;
  float:right;
  margin-left:120px;
  width: 1800px;
  height: 945px;
}

.PersonInfo {
  /* border:5px solid coral; */
  width: 600px;
  height: 300px;
  padding: 10px;
  margin:50px;
}

.FormFields {
  margin:2px;
  padding: 5px;
  margin-left: 50px;
}